@import '../Common.scss';

.password-view {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    .info-area {
        margin: 0 0 $large-padding 0;
        text-align: left;
    }

    .submit-area {
        display: flex;
        flex-direction: row;

        .password-field {
            flex: 1 1 auto;
        }

        .submit-btn {
            flex: 0 0 auto;
        }
    }
}