@import '../Common.scss';

.category-configuration {
    display: flex;
    flex-direction: row;
    .category-details {
        flex: 0;
        display: flex;
        flex-direction: column;
    
        .add-category-area {
            flex: 0 0 auto;
        }
    
        .existing-categories {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow-y: auto;
    
            .category {
                margin: $default-padding 0;
    
                .name {
                    padding-right: $default-padding;
                }
            }
        }
    }

    .category-chart {
        flex: 1 1 auto;
    }
}