@import '../Common.scss';

.general-view {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .title, .income-details {
        flex: 0 0 auto;
    }

    .income-details {
        label {
            margin-right: $default-padding;
        }
    }

    .category-details {
        flex: 1 1 auto;
        margin-bottom: $large-padding;
    }

    .additional-options {
        flex: 1 1 auto;

        .expanding-option {
            margin-bottom: $default-padding;

            * {
                margin: 0 $default-padding $default-padding 0;
            }
        }
    }
}