@import './Common.scss';

.add-view {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .shared-date-label {
        margin-right: $small-padding;
    }

    .csv-import, .shared-date-options, .option-area {
        margin: $small-padding 0;
    }

    .item-table {
        flex: 1 1 auto;
        
        table {
            table-layout: fixed;
            width: 100%;

            .react-datepicker-wrapper, .react-datepicker-wrapper input, .input-data {
                width: 100%;
                padding: 0;
                margin: 0;

                select {
                    margin-bottom: 1px;
                }
            }
        }
    }

    .add-item {
        width: 100%;
    }

    .action-area {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;

        * {
            flex: 1 1 auto;
        }
    }
}