@import '../Common.scss';

.history-filter {
    .history-label, .history-input {
        margin-right: $large-padding;
    }

    .additional-filters {
        margin: $default-padding 0;
    }

    .filter-section {
        margin-bottom: $small-padding;
    }
}