@import '../Common.scss';

.storage-view {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .apply-changes {
        margin-bottom: $large-padding;
    }

    .storage-option {
        display: flex;
        flex-direction: column;

        margin: $large-padding $large-padding $large-padding 0;
    
        .password-settings {
            margin: $default-padding 0;
        }
    
        .storage-label {
            flex: 0 0 auto;
            margin-right: $default-padding;
        }

        .storage-input {
            flex: 1 1 auto;
        }
    }
}