.add-view {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .item-table {
        flex: 1 1 auto;
        
        table {
            table-layout: fixed;
            width: 100%;

            select, input {
                width: 98%;
            }
        }
    }

    .add-item {
        width: 100%;
    }

    .action-area {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;

        * {
            flex: 1 1 auto;
        }
    }
}