@import './Common.scss';

.add-view {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .csv-import {
        margin-top: $small-padding;
    }

    .item-table {
        flex: 1 1 auto;
        
        table {
            table-layout: fixed;
            width: 100%;

            .react-datepicker-wrapper, .react-datepicker-wrapper input, .input-data {
                width: 98%;
            }
        }
    }

    .add-item {
        width: 100%;
    }

    .action-area {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;

        * {
            flex: 1 1 auto;
        }
    }
}