@import './Common.scss';

.App {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    header, footer {
        flex: 0 0 auto;
        text-align: center;
    }

    .header-area {
        background-color: $primary-color;
        color: $alt-text-color;
        padding: $large-padding 0;
        border-bottom: 1px solid black;
    }

    footer {
        border-top: 1px solid black;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        height: 90vh;
    
        .sidebar {
            flex: 0 0 auto;

            .sidebar-list {
                padding: 0 16px;
                list-style-type: none;

                .sidebar-item {
                    display: block;
                    text-decoration: none;
                    padding: $default-padding;
                    border-radius: 3px;
                }
            }
        }
    
        .content-area {
            padding-left: 32px;
            flex: 1 1 auto;
            display: flex
        }
    }
}

